/* Generali */
:root {
	--color-secondary-color: #0084FD;
	--color-dark-color: #333333;
	--color-light-color: #FFFFFF;
	--color-primary-color: #9792E4;
	--color-bg-card: #B5DDFF;
	--color-contrast-color: #FCC060;
	--color-text: #424242;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
    background-color: var(--color-light-color);
}

/*Classi Flex */

.d-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Icone */
.icons{
    color: var(--color-secondary-color);
    font-size: 50px;
    padding: 10px;
}

.icon{
    background-color: var(--color-primary-color);
    color: black;
    font-size: 30px;
}

.fa-brands{
    padding: 5px;
}

/* Contenitori */
.container{
    padding: 5px;
    max-width: 1000px;
    margin: 0 auto;
}

.container-middle{
    padding: 5px;
    max-width: 800px;
    margin: 0 auto;
}

.container-small{
    max-width: 500px;
    margin: 0 auto;
    padding: 5px;
}

.col{
    padding: 10px;
}

.card{
    width: 100%;
}

/*Bordi */
.small-border-rounded{
    border-radius: 10px;
}

.big-border-rounded{
    border-radius: 20px;
}

.circle{
    border-radius: 50%;
}

/*Sfondi */
.bg-light{
    background-color: var(--color-light-color);
}

.bg-card{
    background-color: var(--color-bg-card);
}

.bg-primary{
    background-color: var(--color-primary-color);
}

.bg-3{
    background-color: var(--color-dark-color);
}

/* Testo */
.text-primary{
    color: var(--color-primary-color);
}

.text-secondary{
    color: var(--color-secondary-color);
}

.text-light{
    color: var(--color-light-color);
}

.text-orange{
    color: var(--color-contrast-color);
}

.text-center{
    text-align: center;
}

/* Padding e Margini*/
.px-10{
    padding-left: 10px;
    padding-right: 10px;
}

.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.px-20{
    padding-left: 20px;
    padding-right: 20px;
}

.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.mb-20{
    margin-bottom: 20px;
}

.mt-20{
    margin-top: 30px;
}

.mb-30{
    margin-bottom: 30px;
}

.ml-10{
    margin-left: 10px;
}

/*Bottoni */
.btn{
    padding: 6px 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    border: none;
}

.btn-secondary{
    background-color: var(--color-secondary-color);
    color: var(--color-light-color);
}

.btn-3{
    padding: 5px 15px;
    display: inline-block;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    background-color: var(--color-primary-color);
    margin-bottom: 10px;
    margin-left: 10px;
}

.btn-4{
    padding: 15px 25px;
    display: inline-block;
    text-decoration: none;
    color: var(--color-primary-color);
    background-color: var(--color-light-color);
    border-radius: 20px;
    margin-left: 170px;
}


/*Header */

ul, li, a{
    padding: 6px 10px;
    text-decoration: none;
    color: white;
    list-style : none;
    display: block;
}

header{
    background-color: var(--color-secondary-color);
}

#logo{
    width: 70px;
}

.nav-flex{
    display: flex;
    flex-flow: row ;
    justify-content: space-between;
}

/*Main */
.image{
    width: 200px;
    padding-top: 10px;
}

.image-2{
    width: 200px;
    height: 130px;
}

.image-3{
    width: 150px;
    height: 150px;
}

.box-wrapper{
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    margin-top: 30px;
}

.box {
    width: calc(100% / 3);
    padding: 5px 5px 20px;
    min-width: 300px;
}

.number{
    font-size: 40px;
}

.font{
    font-size: 40px;
}

.font-2{
    font-size: 60px;
}

/*MEDIA QUERY */

@media screen and (max-width:576px){
    body, .container, .container-middle, section, .box, footer{
        width: 545px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 3px;
        margin-right: 3px;
    }

    .container-middle{
        padding-left:20px;
        padding-right: 20px;
    }

    ul, li{
        display: none;
    }
}